<!DOCTYPE html>
<html lang="en">
<head>
  <title>Extras List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style >
    #overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#addME{
  position:absolute;
  top:10%;
  left:25%;
  width:45%;
  height:30%;
  border-radius: 5px;
  background-color: white;

}

#warning{
  position: relative;
  top:10%;
  left:10%;
  font-size: 18px;
}
#yesBtn{
  position: relative;
  top:24%;
  left:30%;
}
#cancelBtn{
  position: relative;

  left:50%;
}

  </style>

</head>
<body>


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">CarShowroom</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><a href="/home">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/order">Orders <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/order">View Order</a></li>
            <li><a href="/order/placeOrder">Place Order</a></li>
            <li><a href="/order/prevOrder">Previous Order</a></li>
          </ul>
        </li>
        <li class="dropdown active" ><a class="dropdown-toggle" data-toggle="dropdown" href="/product">Product <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/product/addproduct">New Product</a></li>
          <li><a href="/product">View Product</a></li>
          <li><a href="/product/extras/addextras">New Extra</a></li>
          <li><a href="/product/extras">View Extra</a></li>

        </ul>
      </li>


          <li class="dropdown" ><a class="dropdown-toggle" data-toggle="dropdown" href="/employees">Employees <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/employees/addEmployee">New Employee</a></li>
            <li><a href="/employees">View Employee</a></li>
            <li><a href="/logout">LogOut</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </nav>


<div class="container">
  <div class="row">
    <div class="col-lg-8" style="padding-top:5% ">
      <div class="row">
        <h2 id="searchHead">Our Bestselling Extra Products</h2>
      </div>
      <div class="row" style="padding: 20px"></div>
      <div class="row" id="infoDiv">
        <%rows.forEach(function(item){%>
          <div class="row" style="box-shadow: 2px 2px 5px 5px grey;">
            <div class="col-lg-4">
              <p style="font-size: 100px;padding-left:35%;padding-top: 5%"><%=item.name[0]%></p>
            </div>
            <div class="col-lg-8">

              <h4 style="text-align: center;border-bottom: 1px solid black">INFO</h4>
              <div class="row" style="padding-left: 10px;">
              <div class="col-lg-6">
              <p><strong>Name: </strong> <%=item.name%></p>
              <p><strong>Extra-ID: </strong> <%=item.extra_id%></p>
              <p><strong>Price: </strong><%=item.price%></p>
              <p><strong>For Type: </strong><%=item.type%></p>
              <p><strong>Sold: </strong>  <%=item.extras_sold%></p>
            </div>
            <div class="col-lg-6" style="padding-left: 10%">
              <%if(user){%>
              <button><a href="/product/extras/viewExtra?extra_id=<%=item.extra_id%>">view more</a></button><br>
              <div style="padding: 5px"></div>

              <button onclick="delPOP('<%=item.extra_id%>');" id="<%=item.extra_id%>">Del</button>
              <%}%>
            </div>
            </div>
            </div>
          </div>
          <div class="row" style="padding: 25px"></div>
          <%})%>





      </div>
</div>
  <div class="col-lg-4" style="border-left: 5px solid black;position: fixed;right:0%;top:50px;height: 100%">
    <h1 style="text-align: center;border-bottom: 2px solid black;">Filters</h1>
    <!-- <p>Do all the filter processing here</p> -->
      <label for="sortby">Sort by:</label>
      <select id="sortby" name="sortby">
        <option value="extras_sold" selected>Extras Sold</option>
        <option value="extra_id">Extra ID</option>
        <option value="price">Price</option>
      </select><br><br>
      <label for="type">Extra for type:</label>
      <select id="type" name="type">
        <option value="none" selected>Select</option>
        <option value="SUV">SUV</option>
        <option value="Sedan">Sedan</option>
        <option value="Sports">Sports</option>
        <option value="Hatchback">Hatchback</option>
      </select><br><br>
      <label for="exname">Name:</label>
      <input id="exname" type="text" name="exname" placeholder="Name"><br><br>
      <button onclick="checkFilters();">Submit</button>
  </div>
</div>
<div id="overlay">



</div>
</div>

</body>
<script>
    let checkFilters= function(){
    let sort = document.getElementById('sortby').value;
    let type= document.getElementById('type').value;
    let name= document.getElementById('exname').value;

    let dataSelected= {
      sort:sort,
      type:type,
      name:name
    }

    console.log(dataSelected);

    fetch("/product/extras/filterextras",{
      method:"POST",
      headers:{
        'Content-Type':'application/json;charset=utf-8'
      },
      body:JSON.stringify(dataSelected)
  })
  .then(response => response.json())
  .then(rows => {
    console.log(rows);
    let infoDiv=document.getElementById('infoDiv');
    let searchHead=document.getElementById('searchHead');
    searchHead.innerHTML="Your Filtered Search";
    infoDiv.innerHTML="";
    rows.checkObject.forEach(function(item){
      filter=true;
      if(rows.user){
      infoDiv.innerHTML+="  <div class='row' style='box-shadow: 5px 5px 5px 5px black;'>"+
              "<div class='col-lg-4'>"+
                "<p style='font-size: 100px;padding-left:35%;padding-top: 5%'>"+item.name[0]+"</p>"+
              "</div>"+
              "<div class='col-lg-8'>"+

                "<h4 style='text-align: center;border-bottom: 1px solid black'>INFO</h4>"+
                "<div class='row' style='padding-left: 10px;'>"+
                "<div class='col-lg-6'>"+
                "<p><strong>Name:</strong>"+ item.name+"</p>"+
                "<p><strong>Extra-ID: </strong>"+ item.extra_id+"</p>"+
                "<p><strong>Price: </strong>"+  item.price+"</p>"+
                "<p><strong>For Type: </strong>"+item.type+"</p>"+
                "<p><strong>Sold: </strong>"+item.extras_sold+"</p>"+
              "</div>"+
              "<div class='col-lg-6' style='padding-left: 10%'>"
                  +"<div style='padding: 5px'></div>"+
                  "<button><a href='/product/extras/viewExtra?extra_id="+item.extra_id+"'>view more</a></button><br>"
                +"<button onclick='delPOP("+item.extra_id+");' id="+item.extra_id+">del</button>"
              +"</div>"+
              "</div>"+
              "</div>"+
            "</div>"+
            "<div class='row' style='padding: 25px'></div>";
}
else
{
  infoDiv.innerHTML+="  <div class='row' style='box-shadow: 5px 5px 5px 5px black;'>"+
          "<div class='col-lg-4'>"+
            "<p style='font-size: 100px;padding-left:35%;padding-top: 5%'>"+item.name[0]+"</p>"+
          "</div>"+
          "<div class='col-lg-8'>"+

            "<h4 style='text-align: center;border-bottom: 1px solid black'>INFO</h4>"+
            "<div class='row' style='padding-left: 10px;'>"+
            "<div class='col-lg-6'>"+
            "<p><strong>Name:</strong>"+ item.name+"</p>"+
            "<p><strong>Extra-ID: </strong>"+ item.extra_id+"</p>"+
            "<p><strong>Price: </strong>"+  item.price+"</p>"+
            "<p><strong>For Type: </strong>"+item.type+"</p>"+
            "<p><strong>Sold: </strong>"+item.extras_sold+"</p>"+
          "</div>"+
          "<div class='col-lg-6' style='padding-left: 10%'>"
          +"</div>"+
          "</div>"+
          "</div>"+
        "</div>"+
        "<div class='row' style='padding: 25px'></div>";
}

    });
  })
  }


  var delExtra = function(item){

    console.log(item.id,"heee");
    off();
    let delObject=document.getElementById(item.id);
    console.log(delObject);
    //delObject.parentNode.parentNode.remove();


    //console.log(delObject.parentNode.parentNode.parentNode.parentNode.nextSibling.nextSibling);







     fetch("/product/extras/delExtra",{
        method:"POST",
        headers:{
        'Content-Type':'application/json;charset=utf-8'
        },
        body:JSON.stringify({item:item.id})
      })
      .then(response=>response.json())
      .then(result=>{
            console.log(result);

            console.log(delObject,item.id);

            if(result.done){

                //delObject.parentNode.parentNode.parentNode.parentNode.nextSibling.nextSibling.remove();
                delObject.parentNode.parentNode.parentNode.parentNode.remove();

                on();
                let overlay=document.getElementById('overlay');
                overlay.innerHTML="<div class='container-fluid' id='addME'>"+
                  "<div id='warning' >"+
                    "<p id='textMsg'>There was some error in the input you have provided.<br>Please porvide the inputs in proper format</p>"+
                  "</div>"+
                  "<div id='closeBtn' style='padding-left:40%;padding-top:20px'>"+
                    "<button onclick='off();' class='btn btn-default btn-lg' style='background-color: black;color: white'>close</button>"+
                  "</div>"+

                "</div>"


                let message=document.getElementById('textMsg');
                message.innerHTML="Extra with ID = "+result.item+" has been deleted";


            } else{

                on();
                console.log("could not delete");
                let overlay=document.getElementById('overlay');
                overlay.innerHTML="<div class='container-fluid' id='addME'>"+
                  "<div id='warning' >"+
                    "<p id='textMsg'>There was some error in the input you have provided.<br>Please porvide the inputs in proper format</p>"+
                  "</div>"+
                  "<div id='closeBtn' style='padding-left:40%;padding-top:20px'>"+
                    "<button onclick='off();' class='btn btn-default btn-lg' style='background-color: black;color: white;'>close</button>"+
                  "</div>"+

                "</div>"
                let message=document.getElementById('textMsg');
                message.innerHTML="There was some error while deleting the Extra Product.<br>Sorry Please try again."
            }
    });

  }


let filter=false;

function on() {
  document.getElementById("overlay").style.display = "block";
}
function off() {
  document.getElementById("overlay").style.display = "none";
}

  function delPOP(item){
    if(filter)
    {
      item=item.id;
    }
  console.log(item,"hii");
  document.getElementById("overlay").style.display = "block";

  let overlay=document.getElementById('overlay');
  overlay.innerHTML="<div class='container-fluid;' id='addME'>"+
    "<div id='warning' >"+
     " <p id='textMsg'>Are You sure you want to delete Extra with ID "+item+"</p>"+
    "</div>"+
    "<div id='yesBtn'>"+
      "<button onclick='delExtra("+item+");' class='btn btn-default btn-lg' style='background-color: black;color: white'>YES</button>"+

    "</div>"+
   " <div id='cancelBtn'>"+
      "<button onclick='off();' class='btn btn-default btn-lg' >CANCEL</button>"+

    "</div>"+

  "</div>";

  console.log(overlay);

}
</script>
</html>
