<!DOCTYPE html>
<html lang="en">
<head>
  <title>CAR SHOWROOM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style >
    #overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#addME{
  position:absolute;
  top:10%;
  left:25%;
  width:45%;
  height:30%;
  border-radius: 5px;
  background-color: white;

}

#warning{
  position: relative;
  top:10%;
  left:10%;
  font-size: 18px;
}
#yesBtn{
  position: relative;
  top:24%;
  left:30%;
}
#cancelBtn{
  position: relative;
  
  left:50%;
}

  </style>



</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">CarShowroom</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/home">Home</a></li>
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="/order">Orders <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/order">View Order</a></li>
          <li><a href="/order/placeOrder">Place Order</a></li>
          <li><a href="/order/prevOrder">Previous Order</a></li>
        </ul>
      </li>
      <li class="dropdown " ><a class="dropdown-toggle" data-toggle="dropdown" href="/product">Product <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/product/addproduct">New Product</a></li>
          <li><a href="/product">View Product</a></li>
          <li><a href="/product/extras/addextras">New Extra</a></li>
          <li><a href="/product/extras">View Extra</a></li>

        </ul>
      </li>
      
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/employees">Employees <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/employees/addEmployee">New Employee</a></li>
          <li><a href="/employees">View Employee</a></li>
          <li><a href="/logout">LogOut</a></li>
      
        </ul>
      </li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <div class="row">
    <div class="col-lg-8" style="padding-top:5% ">
      <div class="row">
        <h2 id="searchHead">RECENT ORDERS</h2>
      </div>
      <div class="row" style="padding: 20px"></div>
      <div class="row" id="infoDiv">
        <%mainObject.forEach(function(item){%>
          <div class="row" style="box-shadow: 2px 2px 5px 5px rgb(180, 180, 180);">
            
            <div class="col-lg-12">
              
              <h4 style="text-align: center;border-bottom: 5px solid rgb(230, 30, 30)">INFO</h4>
              <div class="row" style="padding-left: 10px;">
              <div class="col-lg-6">
              <p><strong>ORDER_ID: </strong> <%=item.order_id%></p>
              <p><strong>EMP-ID: </strong> <%=item.emp_id%></p>
              <p><strong>DATE_ORDER: </strong><%=item.date_order%></p>
            </div>
            <div class="col-lg-6" style="padding-left: 10%">
              <button ><a href="/order/vieworder?order_id=<%=item.order_id%>">view more</a></button><br>
              <div style="padding: 5px"></div>
              <button  onclick="delPOP('<%=item.order_id%>');" id='<%=item.order_id%>'>del</button>
              
            </div>
            </div>
            </div>
          </div>
          <div class="row" style="padding: 25px"></div>
          <%})%>
        
        
        
          
      
      </div>
</div>
  <div class="col-lg-3" style="border-left: 5px solid black;position: fixed;right:0%;top:50px;height: 100%;overflow-y: auto">
    <h1 style="text-align: center;border-bottom: 5px solid rgb(230, 30, 30);">FILTER</h1>
    <div class="row" style="padding-left: 20%">
    <div class="row">
      <div class="row" style="padding-left: 30%">
    <p>Search by Info</p>
    </div><br>
    <label style="padding-left: 5px">ORDER-ID :</label>
    <input type="text" name="order_id" id="order_id"><br><br>
    <label style="padding-left: 25px">EMP-ID  :  </label>
    <input type="text" name="emp_id" id="emp_id" ><br><br>
    <label style="padding-left: 33px">FROM  : </label>
    <input type="date" name="from" id="from"><br><br>
    <label style="padding-left: 35px">UPTO  : </label>
    <input type="date" name="upto" id="upto"><br><br>
    </div>
    <br>
    <div class="row" style="padding-left: 35%">
    <button class="btn btn-default btn-md" style="background-color: black;color: white" onclick="checkit();">check</button>
  </div>
  </div>
    
  </div>
  
</div>

<div id="overlay">
  

  
</div>

</div>
<script src="./js/check.js" charset="utf-8"></script>
<script >
  

let name=<%-JSON.stringify(mainObject)%>;
console.log(name);
console.log(name[0]);

var checkit=function(){

  let order_id=document.getElementById('order_id').value;
  let emp_id=document.getElementById('emp_id').value;
  let from=document.getElementById('from').value;
  let upto=document.getElementById('upto').value;

  let dataSelected={
    order_id:order_id,
    emp_id:emp_id,
    from:from,
    upto:upto
  }

  console.log(dataSelected);

  fetch("/order/filterorder",{
      method:"POST",
      headers:{
        'Content-Type':'application/json;charset=utf-8'
      },
      body:JSON.stringify(dataSelected)
  })
  .then(response=>response.json())
  .then(result=>{
    console.log(result);
    let infoDiv=document.getElementById('infoDiv');
    let searchHead=document.getElementById('searchHead');
    searchHead.innerHTML="Your Filtered Search"
    infoDiv.innerHTML="";

    result.checkObject.forEach(function(item){
      filter=true;
      
                  infoDiv.innerHTML+="  <div class='row' style='box-shadow: 2px 2px 5px 5px rgb(180, 180, 180);'>"+
              "<div class='col-lg-12'>"+
                
                "<h4 style='text-align: center;border-bottom: 5px solid rgb(230, 30, 30)'>INFO</h4>"+
                "<div class='row' style='padding-left: 10px;'>"+
                "<div class='col-lg-6'>"+
                "<p><strong>ORDER_ID:</strong>"+ item.order_id+"</p>"+
                "<p><strong>EMP-ID: </strong>"+ item.emp_id+"</p>"+
                "<p><strong>DATE_ORDER: </strong>"+  item.date_order+"</p>"+
              "</div>"+
              "<div class='col-lg-6' style='padding-left: 10%'>"+
                "<button><a href='/order/vieworder?order_id="+item.order_id+"'>view more</a></button><br>"+
                "<div style='padding: 5px'></div>"+
                "<button onclick='delPOP("+item.order_id+");' id="+item.order_id+">del</button>"+
                "<div style='padding: 5px'></div>"+
                    "</div>"+
                    "</div>"+
                    "</div>"+
                  "</div>"+
                  "<div class='row' style='padding: 25px'></div>";


                
             


    });
  

  })

}

let filter=false;

var delorder=function(item){

  console.log(item.id,"heee");
  off();
  let delObject=document.getElementById(item.id);
  console.log(delObject);


            




   fetch("/order/delorder",{
      method:"POST",
      headers:{
      'Content-Type':'application/json;charset=utf-8'
      },
      body:JSON.stringify({item:item.id})
    })
    .then(response=>response.json())
    .then(result=>{
          console.log(result);

          console.log(delObject,item.id);
           
          if(result.done){

              delObject.parentNode.parentNode.parentNode.parentNode.remove(); 

              on();
              let overlay=document.getElementById('overlay');
              overlay.innerHTML="<div class='container-fluid' id='addME'>"+
                "<div id='warning' >"+
                  "<p id='textMsg'>There was some error in the input you have provided.<br>Please porvide the inputs in proper format</p>"+
                "</div>"+
                "<div id='closeBtn' style='padding-left:40%;padding-top:20px'>"+
                  "<button onclick='off();' class='btn btn-default btn-lg' style='background-color: black;color: white'>close</button>"+
                "</div>"+
                
              "</div>"


              let message=document.getElementById('textMsg');
              message.innerHTML="Order with ID = "+result.item+" has been deleted";


          } else{

              on();
              console.log("could not delete");
              let overlay=document.getElementById('overlay');
              overlay.innerHTML="<div class='container-fluid' id='addME'>"+
                "<div id='warning' >"+
                  "<p id='textMsg'>There was some error in the input you have provided.<br>Please porvide the inputs in proper format</p>"+
                "</div>"+
                "<div id='closeBtn' style='padding-left:40%;padding-top:20px'>"+
                  "<button onclick='off();' class='btn btn-default btn-lg' style='background-color: black;color: white;'>close</button>"+
                "</div>"+
                
              "</div>"
              let message=document.getElementById('textMsg');
              message.innerHTML="There was some error while deleting the order.<br>Sorry Please try again."



          }


  });

}



function on() {
  document.getElementById("overlay").style.display = "block";
}
function off() {
  document.getElementById("overlay").style.display = "none";
}

function delPOP(item){
  if(filter){
    item=item.id;
  }
  console.log(item,"hii");
  document.getElementById("overlay").style.display = "block";

  let overlay=document.getElementById('overlay');
  overlay.innerHTML="<div class='container-fluid;' id='addME'>"+
    "<div id='warning' >"+
     " <p id='textMsg'>Are You sure you want to delete order with ID "+item+"</p>"+
    "</div>"+
    "<div id='yesBtn'>"+
      "<button onclick='delorder("+item+");' class='btn btn-default btn-lg' style='background-color: black;color: white'>YES</button>"+

    "</div>"+
   " <div id='cancelBtn'>"+
      "<button onclick='off();' class='btn btn-default btn-lg' >CANCEL</button>"+
      
    "</div>"+
    
  "</div>";

}



</script>
</body>
</html>
