<!DOCTYPE html>
<html lang="en">
<head>
  <title>View Product</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<style>

   #overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#addME{
  position:absolute;
  top:10%;
  left:25%;
  width:45%;
  height:30%;
  border-radius: 5px;
  background-color: white;

}

#warning{
  position: relative;
  top:10%;
  left:10%;
  font-size: 18px;
}
#yesBtn{
  position: relative;
  top:24%;
  left:30%;
}
#cancelBtn{
  position: relative;

  left:50%;
}



</style>


</head>
<body>


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">CarShowroom</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><a href="/home">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/order">Orders <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/order">View Order</a></li>
            <li><a href="/order/placeOrder">Place Order</a></li>
            <li><a href="/order/prevOrder">Previous Order</a></li>
          </ul>
        </li>
        <li class="dropdown active" ><a class="dropdown-toggle" data-toggle="dropdown" href="/product">Product <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/product/addproduct">New Product</a></li>
          <li><a href="/product">View Product</a></li>
          <li><a href="/product/extras/addextras">New Extra</a></li>
          <li><a href="/product/extras">View Extra</a></li>

        </ul>
      </li>


          <li class="dropdown" ><a class="dropdown-toggle" data-toggle="dropdown" href="/employees">Employees <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/employees/addEmployee">New Employee</a></li>
            <li><a href="/employees">View Employee</a></li>
            <li><a href="/logout">LogOut</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </nav>


<div class="container">
  <div class="col-lg-4" style="border-right: 5px solid black;position: fixed;left:0%;top:50px;height: 100%;overflow-y: auto" >
    <div class="row" style="padding-top:15px ;border-bottom: 1px solid black;padding-bottom: 2%">
      <img src="../images/<%=userObject[0].car_id%>.png" style="width:75%;padding-top:0%;padding-left:15%">
    </div>
      <div id="infoDiv">
        <div class="row" style="padding-top: 20px;">
         <div class="col-lg-6">
          <p><strong>CAR-ID :</strong> <span id="car_id"><%=userObject[0].car_id%></span></p>
         </div>
         <div class="col-lg-6">
          <p><strong>Model No :</strong><span id="model_no"><%=userObject[0].model_no%> </span></p>
         </div>

    </div>
    <div class="row" style="padding-top: 20px;">
       <div class="col-lg-6">
          <p><strong>Type :</strong><span id="type"><%=userObject[0].type%></span> </p>
         </div>
         <div class="col-lg-6">
          <p><strong>Transmission:</strong> <span id="transmission"><%=userObject[0].transmission%></span></p>
         </div>


    </div>
    <div class="row" style="padding-top: 20px;">
       <div class="col-lg-6">
          <p><strong>Fuel Type :</strong><span id="fuel_type"><%=userObject[0].fuel_type%></span> </p>
         </div>
         <div class="col-lg-6">
          <p><strong>Price:</strong><span id="price"><%=userObject[0].price%></span> </p>
         </div>


    </div>
    <div class="row" style="padding-top: 20px;">
       <div class="col-lg-12">
        <p><strong>Capacity:</strong><span id="capacity"><%=userObject[0].capacity%></span> </p>
         </div>
    </div>
    <div class="row" style="padding-top: 20px;">
       <div class="col-lg-12">
        <p><strong>Year:</strong><span id="year"><%=userObject[0].year%></span> </p>
         </div>
    </div>
    <div class="row" style="padding-top: 20px;">
       <div class="col-lg-12">
        <p><strong>Qty Available:</strong><span id="qty_available"><%=userObject[0].qty_available%></span> </p>
         </div>
         <div class="row" style="padding-top: 20px;padding-left: 40%">
<%if(user){%>
         <button class="btn btn-default btn-md" style="background-color: black;color: white" onclick="edit();">Edit</button>
<%}%>
    </div>
    </div>
    </div>

  </div>


  </div>
  <div class="row">
    <div class="col-lg-8" style="position: fixed;right:0%;top:50px;height: 100%;overflow-y: auto">
      <%if(user){%>
      <div style="position:absolute;top:0px;left:17%">
  <canvas id="myChart" width="600" height="270"></canvas>
</div>
<%} else{%>
    <h3 style="border-bottom: 2px solid black;text-align: center;border-top: 2px solid black;padding-top: 2px;padding-bottom: 2px" id="">Sales Chart</h3>
  <div style="position:absolute;top:17%;left:12%;box-shadow:2px 2px 10px 10px grey">
<canvas id="myChart" width="700" height="370"></canvas>
</div>
<%}%>
<script src="../js/node_modules/chart.js/dist/chart.js"></script>


  <div style="position: absolute;top:40%;left:1%;width: 100%">
  <%if(user){%>
  <div class="row">
    <h3 style="border-bottom: 2px solid black;text-align: center;border-top: 2px solid black;padding-top: 2px;padding-bottom: 2px" id="sellTag">Recent Sales</h3>

  </div>

  <div id="orderDiv">
  <div class="row" style="padding-left: 10px">
   <%if(sellObject.length>0){%>
  <%sellObject.forEach(function(item){%>
    <div class="col-lg-3" style="box-shadow: 2px 2px 5px 5px grey">
      <div class="row">
        <img src="">
      </div>
      <div class="row" style="padding-left: 7%">
        <p><strong><a href="/order/vieworder?order_id=<%=item.order_id%>">Order-No:</a></strong><%=item.order_id%> </p>
         <p><strong><a>Car-No:</a></strong><%=item.car_id%> </p>
          <p><strong>Cust-Name:</strong><%=item.cust_id%> </p>
      </div>
    </div>
    <div class= "col-lg-1" style="padding:10px"></div>
    <%})%>



  </div>
  <div class="row">
    <h3 style="text-align: center;"><a onclick="viewAllOrders();">View all</a></h3>
  </div>

 <%} else{%>
    <div class="row">
      <h2 style="text-align: center;">No Sales</h2>
    </div>
    <%}%>


</div>
<%}%>
</div>
</div>


</div>

<div id="overlay">



</div>
<script >

   window.onload = function () {
    /* Grab all elements with a placeholder attribute */
    var element = document.querySelectorAll('[placeholder]');

    /* Loop through each found elements */
    for (var i in element) {
        /* If the element is a DOMElement and has the nodeName "INPUT" */
        if (element[i].nodeType == 1 && element[i].nodeName == "INPUT") {

            /* We change the value of the element to its placeholder attr value */
            element[i].value = element[i].getAttribute('placeholder');
            /* We change its color to a light gray */
            element[i].style.color = "#777";

            /* When the input is selected/clicked on */
            element[i].onfocus = function (event) {
                /* If the value within it is the placeholder, we clear it */
                if (this.value == this.getAttribute('placeholder')) {
                    this.value = "";
                    /* Setting default text color */
                    this.style.color = "#000";
                };
            };

            /* We the input is left */
            element[i].onblur = function (event) {
                /* If the field is empty, we set its value to the placeholder */
                if (this.value == "") {
                    this.value = this.getAttribute('placeholder');
                    this.style.color = "#777";
                }
            };
        }
    }
}


  let userObject=<%-JSON.stringify(userObject)%>
  console.log("hii",userObject)

  let sellObject=<%-JSON.stringify(sellObject)%>
  console.log("hii2",sellObject);

  let orderObject=<%-JSON.stringify(orderObject)%>

  console.log("hii3",orderObject);
   let labels=[];
   orderObject.filter(function(item){
      labels.push(item['YEAR(dely_date)']);
  });
  console.log(labels);

  let Cars_Sold=[];
  orderObject.filter(function(item){
    Cars_Sold.push(item.cars_sold);
  })
  console.log(Cars_Sold);

  let update=<%-JSON.stringify(update)%>
  console.log("hii4",update);



  var viewAllOrders=function(){

    console.log("hello");
    fetch("/product/viewAllProducts?car_id="+userObject[0].car_id)
    .then(response=>response.json())
    .then(result=>{
      console.log(result);

      let orderDiv=document.getElementById('orderDiv');
      let sellTag=document.getElementById('sellTag');

      sellTag.innerHTML="All Sales";
      orderDiv.innerHTML="";

      for(var i=0;i<result.result.length;i++){

        if(i%3==0){
          orderDiv.innerHTML+="<div class='row' style='padding-left: 10px'>"
        }

        orderDiv.innerHTML+="<div class='col-lg-3' style='box-shadow: 2px 2px 5px 5px grey'>"+
      "<div class='row'>"+
        "<img src=''>"+
      "</div>"+
      "<div class='row' style='padding-left: 7%'>"+
        "<p><strong><a href = '/order/vieworder?order_id="+result.result[i].order_id+"'>Order-No:</a></strong>"+result.result[i].order_id+" </p>"+
         "<p><strong><a>Car-No:</a></strong>"+result.result[i].car_id+" </p>"+
          "<p><strong>Cust-Name:</strong>"+result.result[i].cust_id+" </p>"+
      "</div>"+
    "</div>"+
   " <div class= 'col-lg-1' style='padding:10px'></div>";



        if((i+1)%3==0||(i+1)==result.result.length){
          orderDiv.innerHTML+="</div>";
          orderDiv.innerHTML+="<div class= 'row' style='padding:30px'></div>";
        }
      }
    })
  }

  let tempSave;

  var edit=function(){
    console.log("hi");



    let infoDiv=document.getElementById("infoDiv");
    tempSave=infoDiv.innerHTML;
    console.log(tempSave);

    infoDiv.innerHTML="<div class='row' style='padding-top: 10px;'>"+
         "<div class='col-lg-6'>"+
          "<label>CAR-ID : </label><input type='text' class='form-control' name='car_id' id='car_id' placeholder="+userObject[0].car_id+" defaultValue="+userObject[0].car_id+">"+
         "</div>"+
         "<div class='col-lg-6'>"+
           "<label>Model No : </label><input type='text' class='form-control' name='model_no' id='model_no' placeholder='"+userObject[0].model_no+"' defaultValue='"+userObject[0].model_no+"'   >"+
         "</div>"+
    "</div>"+
    "<div class='row' style='padding-top: 10px;'>"+
       "<div class='col-lg-6'>"+
          "<label>Type : </label><input type='text' class='form-control' name='type' id='type' placeholder='"+userObject[0].type+"' defaultValue='"+userObject[0].type+"' required>"+
         "</div>"+
         "<div class='col-lg-6'>"+
           "<label>Transmission : </label><input type='text' class='form-control' name='transmission' id='transmission' placeholder='"+userObject[0].transmission+"' defaultValue='"+userObject[0].transmission+"' required>"+
         "</div>"+


    "</div>"+
    "<div class='row' style='padding-top: 10px;'>"+
     "  <div class='col-lg-6'>"+

         "<label>Fuel Type : </label><input type='text' class='form-control' name='fuel_type' id='fuel_type' value="+userObject[0].fuel_type+" placeholder="+userObject[0].fuel_type+">"+
         "</div>"+
         "<div class='col-lg-6'>"+
           "<label>Price : </label><input type='number' class='form-control' name='price' id='price' value="+userObject[0].price+" placeholder="+userObject[0].price+ ">"+
         "</div>"+


   " </div>"+
    "<div class='row' style='padding-top: 10px;'>"+
       "<div class='col-lg-12'>"+
        "<label>Capacity :</label>"+
       "<input type='number' class='form-control' name='capacity' id='capacity' value="+userObject[0].capacity+" placeholder="+userObject[0].capacity+ ">"+
         "</div>"+
    "</div>"+
    "<div class='row' style='padding-top: 10px;'>"+
         "<div class='col-lg-6'>"+
          "<label>Year : </label><input type='number' class='form-control' name='year' id='year' value='"+userObject[0].year+"' placeholder='"+userObject[0].year+"' >"+
         "</div>"+
         "<div class='col-lg-6'>"+
           "<label>Qty Available : </label><input type='number' class='form-control' name='qty_available' id='qty_available' value='"+userObject[0].qty_available+"' placeholder='"+userObject[0].qty_available+"'>"+
         "</div>"+



    "</div>"+
         "<div class='row' style='padding-top: 10px;padding-left: 20%'>"+

         "<button class='btn btn-default btn-md' style='background-color: black;color: white' onclick='editFetch();'>Edit</button>"+
         "<button class='btn btn-default btn-md' style='position: relative;left: 30%' type='button' onclick='cancelEdit();'>Cancel</button>"+

    "</div>";
   // "</form>";"<form action='/employees/updateEmployee' method='POST' id='empForm'>"+



    var element = document.querySelectorAll('[placeholder]');

    /* Loop through each found elements */
    for (var i in element) {
        /* If the element is a DOMElement and has the nodeName "INPUT" */
        if (element[i].nodeType == 1 && element[i].nodeName == "INPUT") {

            /* We change the value of the element to its placeholder attr value */
            element[i].value = element[i].getAttribute('placeholder');
            /* We change its color to a light gray */
            element[i].style.color = "#777";

            /* When the input is selected/clicked on */
            element[i].onfocus = function (event) {
                /* If the value within it is the placeholder, we clear it */
                if (this.value == this.getAttribute('placeholder')) {
                    this.value = "";
                    /* Setting default text color */
                    this.style.color = "#000";
                };
            };

            /* We the input is left */
            element[i].onblur = function (event) {
                /* If the field is empty, we set its value to the placeholder */
                if (this.value == "") {
                    this.value = this.getAttribute('placeholder');
                    this.style.color = "#777";
                }
            };
        }
    }

  }

var cancelEdit=function(){
  console.log("hi");

  let infoDiv=document.getElementById('infoDiv');
  infoDiv.innerHTML=tempSave;



}


var editFetch=function(){

  console.log("hii");

  let car_id=document.getElementById('car_id');
  let model_no=document.getElementById('model_no');
  let type=document.getElementById('type');
  let transmission=document.getElementById('transmission');
  let fuel_type=document.getElementById('fuel_type');
  let price=document.getElementById('price');
  let capacity=document.getElementById('capacity');
  let year=document.getElementById('year');
  let qty_available=document.getElementById('qty_available');
  console.log(car_id.value,model_no.value,type.value,transmission.value,fuel_type.value,price.value,capacity.value,year.value,qty_available.value);

  // if(dob.value&&joining_date.value){

    let updateInfo={
    where:userObject[0].car_id,
    car_id:car_id.value,
    model_no:model_no.value,
    type:type.value,
    transmission:transmission.value,
    fuel_type:fuel_type.value,
    price:price.value,
    capacity:capacity.value,
    year:year.value,
    qty_available:qty_available.value
  };

  console.log(updateInfo);

  fetch("/product/updateProduct",{
      method:"POST",
      headers:{
      'Content-Type':'application/json;charset=utf-8'
      },
      body:JSON.stringify(updateInfo)
    }).then(response=>response.json())
    .then(result=>{
      console.log(result,"helllllllllu");
      if(result.done){

        let infoDiv=document.getElementById('infoDiv');
        infoDiv.innerHTML=tempSave;

        document.getElementById('car_id').innerHTML=result.update[0].car_id;
        document.getElementById('model_no').innerHTML=result.update[0].model_no;
        document.getElementById('type').innerHTML=result.update[0].type;
        document.getElementById('transmission').innerHTML=result.update[0].transmission;
        document.getElementById('fuel_type').innerHTML=result.update[0].fuel_type;
        document.getElementById('price').innerHTML=result.update[0].price;
        document.getElementById('capacity').innerHTML=result.update[0].capacity;
        document.getElementById('year').innerHTML=result.update[0].year;
        document.getElementById('qty_available').innerHTML=result.update[0].qty_available;
        on("The information of the Product has been updated.");
      } else{
        on("There were some errors in the input you provided.");
      }
    })
  // }
}

function on(item) {
  document.getElementById("overlay").style.display = "block";
  let overlay=document.getElementById('overlay');
              overlay.innerHTML="<div class='container-fluid' id='addME'>"+
                "<div id='warning' >"+
                  "<p id='textMsg'>"+item+"<br></p>"+
                "</div>"+
                "<div id='closeBtn' style='padding-left:40%;padding-top:20px'>"+
                  "<button onclick='off();' class='btn btn-default btn-lg' style='background-color: black;color: white'>close</button>"+
                "</div>"+

              "</div>"
}


function off() {
  document.getElementById("overlay").style.display = "none";
}

var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Cars_Sold',
            data: Cars_Sold,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
            width:1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
            xAxes:[{
              barPercentage:0.3
            }]
        }
    }
});

console.log("hii chart implemented");

</script>

</body>
</html>
